{% extends "admin/base_admin.html" %}

{% block content %}

<h1 align="center">Rozcestník</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <a href="/admin/events" class="card-link">
        <div class="card mb-4">
          <div class="card-body">
            <h1 class="display-6">Závody</h1>
          </div>
        </div>
      </a>
      <a href="..." class="card-link">
        <div class="card mb-4">
          <div class="card-body">
            <h1 class="display-6">Dokumenty</h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/admin/posts" class="card-link">
        <div class="card mb-4">
          <div class="card-body">
            <h1 class="display-6">Příspěvky</h1>
          </div>
        </div>
      </a>
      <a href="..." class="card-link">
        <div class="card mb-4">
          <div class="card-body">
            <h1 class="display-6">Kontakty</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


{% endblock %}