{% extends "admin/base_admin.html" %}
 
{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-6">
                    <form method="post" action="">
                        <button class="btn btn-secondary w-100" type="submit">Něco jinýho</button>
                    </form>
                </div>
                <div class="col-6">
                    <form method="post" action="">
                        <a class="btn btn-secondary w-100" href="#" type="submit">Nové oznámení</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row g-4">
            <div class="col">
                
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">NADPIS</h5>
                        <p class="card-text">TEXT TEXT TEXT</p>
                        <form method="post">
                            <a href="#" class="btn btn-primary">Upravit</a>
                            <a href="#" class="btn btn-primary">Archivovat</a>
                            <a href="#" class="btn btn-primary">Smazat</a>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Zveřejněno DNES
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}