{% extends "admin/base_admin.html" %}
 
{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-6">
                    <form method="post" action="">
                        <button class="btn btn-secondary w-100" type="submit">Něco jinýho</button>
                    </form>
                </div>
                <div class="col-6">
                    <form method="post" action="">
                        <a class="btn btn-secondary w-100" href="" type="submit">Nové oznámení</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row g-4">
            <div class="col">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}