{% extends 'base.html' %}

{% block content %}

    
    <h1 class="text-center">Termínová Listina</h1>

    <br>

    <div class="container-fluid">
        <div class="row">
            <!-- Left side: Season selection -->
            <div class="col-2 bg-light" style="height: 100vh; padding: 20px; overflow-y: auto;">
                <h5>Výběr sezóny</h5>
                <ul class="list-group">
                    <li class="list-group-item active">2019/2020</li>
                    <li class="list-group-item">2020/2021</li>
                    <li class="list-group-item">2021/2022</li>
                    <li class="list-group-item">2022/2023</li>
                    <li class="list-group-item">2023/2024</li>
                </ul>
            </div>

            <!-- Right side: Event cards -->
            <div class="col-10">
                    <div class="card-body mb-3 d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Přespolní běh Kraví Hora - Brno</h5>
                            <p class="card-text">20.2.2025</p>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary">Registrace</a>
                            <a href="#" class="btn btn-secondary">Propozice</a>
                            <a href="#" class="btn btn-success">Výsledky</a>
                        </div>
                    </div>
                    <div class="card-body mb-3 d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Obří slalom - Předklášteří</h5>
                            <p class="card-text">20.2.2025</p>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary">Registrace</a>
                            <a href="#" class="btn btn-secondary">Propozice</a>
                            <a href="#" class="btn btn-success">Výsledky</a>
                        </div>
                    </div>
                    <div class="card-body mb-3 d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Finále JMLP 2024 - Olešnice</h5>
                            <p class="card-text">20.2.2025</p>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary">Registrace</a>
                            <a href="#" class="btn btn-secondary">Propozice</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}